<h1> Create an article </h1>

<%= form_for @article do |k| %>

    <p>

    <%= k.label :title %><br/>
    <%= k.text_field :title %>

    </p>

    <p>

    <%= k.label :description %><br/>
    <%= k.text_area :description %>

    </p>

    <p>

    <%= k.submit %>

    </p>



    <% end %>

